@import url("https://fonts.googleapis.com/css2?family=Rancho&family=Satisfy&display=swap");

body {
  margin: 0 auto;
  max-width: 100%;
  box-sizing: border-box;
  padding: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: #ccc;
}

button {
  color: #333;
  padding: 10px;
  font-size: 18px;
  outline: none;
  font-weight: bold;
  border: none;
  cursor: pointer;
  background-color: #ccc;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin: auto;
  justify-content: space-evenly;
  width: 50%;
  text-align: center;
  text-align: left;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 10px;
  background-color: #333;
  border: 1px solid;
  outline: none;
  color: #ccc;
  font-weight: bold;
}
.hello {
  color: #333;
  display: flex;
  justify-content: center;
  margin-top: 5%;
  font-family: "Rancho";
  font-size: 80px;
  font-weight: lighter;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 5%;
  background-color: #333;
  padding-bottom: 5px;
  color: #ccc;
  font-size: 25px;
  font-family: "Rancho";
}

.home button {
  padding: 10px;
  font-size: 30px;
  background-color: #ccc;
}
.navigate {
  font-size: 25px;
  color: #333;
}
.user {
  margin-left: 30%;
  margin-top: 10px;
  margin-bottom: 15px;
  color: #333;
  font-size: 25px;
}
.user:disabled {
  background: #fff;
  color: #ccc;
  cursor: no-drop;
}

.page-link {
  margin: 5px;
  color: #333;
}
.pageNumbers {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pageNumbers li {
  padding: 8px 10px;
  border: 0.5px solid #d1c3c3;
  cursor: pointer;
  color: #333;
  font-weight: bold;
  margin: 2px;
}

.pageNumbers li.active {
  background-color: #333;
  color: #fff;
}
.prevNext {
  height: 2px;
  font-weight: 2px;
  font-size: 15px;
  color: #333;
  padding: 1px;
}
img {
  width: 150px;
  height: 150px;
}
@media (max-width: 800px) {
  .container {
    width: 100%;

    font-size: 0.8em;
  }
}
